.header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.results {
  width: 50hw;

  float: right;
  margin-right: 30%;
  margin-top: 5%;
  font-size:large;
}

 form {
  float: left;
  width: 30vw;
  margin-left: 5%;
  background-color: blanchedalmond;
  padding: 2.5%;
 }

#error-message {
  color: red;
}