.header {
  text-align: center;
  color: rgb(250, 237, 222);
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  padding: .3%;
  background-color: black;
}

#backgroundImage {
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

form {
  float: left;
  width: 25vw;
  margin-left: 5%;
  margin-top: 1%;
  background-color:rgb(248, 234, 217);
  padding: 2%;
  border-color: black;
  border: solid;
 }

 #hidden {
  display: none;
}

.results {
  width: 40%;
  float: right;
  margin-right: 20%;
  margin-top: 10%;
  padding: 2.5%;
  font-size: large;
  background-color: rgb(250, 237, 221);
  border-color: black;
  border: solid;
}

#error-message {
  color: red;
}